@font-face {
    font-family: Cabin;
    src: url("../fontSstyles/Cabin/Cabin-Italic-VariableFont_wdth\,wght.ttf")
}

@font-face {
    font-family: hind;
    src: url("../fontSstyles/Hind_Siliguri/HindSiliguri-Medium.ttf")
}